body {
  background: rgb(255, 215, 215);
  font-family: helvetica;
}
#title {
  position: relative;
  width: 100%;
  font-size: 50px;
  border-bottom: 1px solid black;
}
#container {
  position: relative;
  left: 25%;
  display: flex;
  flex-wrap: wrap;

  height: 500px;
  width: 500px;
}
.box {
  display: flex;
  background-color: white;
  border: 2px solid black;
  width: 160px;
  height: 170px;
  align-items: center;
  justify-content: space-around;
  font-size: 60px;
}
#playButton {
  width: 300px;
  height: 140px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 30px;
}
#playerNameForms {
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 6px solid black;
  border-radius: 10px;
  background-color: rgb(255, 215, 215);
  align-items: space-around;
}

.playerInfo {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#largeContainer {
  display: flex;
}
.playerDetailsclass {
  width: 100px;
  height: 100px;
  font-family: helvetica;
  font-size: 36px;
}
#PlayerDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.playerDetailsDisplay {
  text-align: center;
}
